.button{
    margin-top:20px;
}

hr{
   border: none;
   height: 5px;
}

p{
    text-align: center;
}

h1{
    margin-top: 20px;
}
.products{
    text-align: center;
}

a{
    text-decoration: none; color: inherit;
}

.custom-select{
    width: 25%;
}

.att{
    margin: 15px;
    display: none;
}

.product{
    margin: 15px;
}

input{
    margin: 5px;
}